//changes grid gutter for nested .row
@mixin grid-row-gutter($gutter-x: $grid-gutter-width, $gutter-y: 0px) {
    margin-right: -$gutter-x/2;
    margin-left: -$gutter-x/2;
    > div[class^="col-"] {
        padding: $gutter-y/2 $gutter-x/2 $gutter-y/2 $gutter-x/2;
    }
}

@mixin button-hover-variant($color, $background, $border) {
    @include hover {
        color: $color;
        background-color: $background;
        border-color: $border;
    }
    &:focus,
    &.focus {
        color: $color;
        background-color: $background;
        border-color: $border;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: $background;
        border-color: $border;
        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 10%);
            border-color: darken($border, 12%);
        }
    }
}
