/**
 * ------------------------------------------------
 * Project Variables
 * ------------------------------------------------
 */

//colors

$white: #fff;
$lightest-gray: #b8b8b8;
$lighter-gray: #525252;
$light-gray: #484848;
$gray: #3d3d3d;
$dark-gray: #2f2f2f;
$darker-gray: #292929;
$darkest-gray: #1d1d1d;
$black: #000;
$blue: #109fb0;
$green: #4aaf23;
$yellow: #ffde00;
$dark-yellow: #ccb200;
$red: #aa0815;
$dark-red: #620d12;
$darker-red: #3d1315;
$primary: #ffde00;

//colors
//buttons
$btn-x-padding: 2rem;
$btn-y-padding: .375rem;
$btn-lg-x-padding: 3.75rem;
$btn-lg-y-padding: .5rem;
//buttons
$padding: 15px;
$margin: 15px;
//Screen Sizes
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 544px;

/**
 * ------------------------------------------------
 * Magnific Popup
 * ------------------------------------------------
 */

// overlay
$mfp-overlay-color: #000; // Color of overlay screen
$mfp-overlay-opacity: 0.7; // Opacity of overlay screen

/**
 * ------------------------------------------------
 * Bootstrap Custom Variables
 * ------------------------------------------------
 */

$enable-flex: false;
$body-bg: $gray;
$body-color: #FFF;
$brand-primary: $yellow;
$link-color: #FFF;
$font-size-root: 14px;
$table-bg: #f8f8f8;
$table-bg-accent: #f9f9f9;
$table-bg-hover: #f5f5f5;
$input-color: $gray;
$input-border-color: #ccc;
$btn-font-weight: bolder;
$btn-primary-color: black;
$btn-secondary-color: #FFF;
$btn-secondary-bg: black;
$btn-secondary-border: black;
$component-active-color: black;
$nav-item-margin: 0px;
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;