<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<script type="text/template" id="tplGameSelector">
    <div class="game-container-selector">
        <div>
            <span class="fa fa-4x fa-diamond"></span>
            <h5>Which game do<br>you WANT to add?</h5>
            <select name="gameSelect" class="game-select form-control">
                <option value="https://www.thepalaces.com/ps/game/GameContainer.action?nscode=TPAL&skincode=TP01&softwareid=200-1295-003&playForReal=false&platform=IGT&lang='fr'">Candy Bars</option>
                <option value="https://www.thepalaces.com/ps/game/GameContainer.action?nscode=TPAL&skincode=TP01&softwareid=200-1269-003&playForReal=false&platform=IGT&lang='fr'">Fire Horse</option>
                <option value="https://www.thepalaces.com/ps/game/GameContainer.action?nscode=TPAL&skincode=TP01&softwareid=200-1150-002&playForReal=false&platform=IGT&lang='fr'">Shamrockers</option>
                <option value="https://www.thepalaces.com/ps/game/GameContainer.action?nscode=TPAL&skincode=TP01&softwareid=200-1127-002&playForReal=false&platform=IGT&lang='fr'">Kitty Glitter</option>
            </select>
        </div>
    </div>
</script>

<script type="text/template" id="tplGameIframe">
    <iframe scrolling="no" src="<%= src %>" frameborder="0"></iframe>
</script>

<script type="text/template" id="tplGameContainer">
    <div class="game-container">
        <div class="game-container-head">
            <button class="btn btn-sm btn-link" disabled data-action="addGameToFavs"><i class="fa fa-mr fa-plus-square"></i> Add to favourites</button>
            <button class="btn btn-sm btn-link" disabled data-action="closeGame"><i class="fa fa-close"></i></button>
        </div>
        <div class="game-container-body"><%= body %></div>  
    </div>
</script>

<body>
    <div data-part="mobile-side-panel"></div>
    <div class="push wrap">
        <div data-part="header-desktop-sm"></div>
        <div data-part="header-mobile"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul id="gamesGridSwitcher" class="games-grid-switcher list-unstyled">
                        <li><button class="btn btn-sm btn-secondary" data-layout="l1"><i class="fa fa-th-large"></i></button></li>
                        <li><button class="btn btn-sm btn-secondary" data-layout="l2"><i class="fa fa-th-large"></i></button></li>
                        <li><button class="btn btn-sm btn-secondary" data-layout="l3"><i class="fa fa-th-large"></i></button></li>
                        <li><button class="btn btn-sm btn-secondary" data-layout="l4"><i class="fa fa-th-large"></i></button></li>
                    </ul>
                    <div id="gamesGrid" class="games-grid">
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-part="footer-links"></div>
        <div data-part="footer-main"></div>
        <div data-part="footer-bottom"></div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</body>

</html>
