.account {
    &-sidebar {
        @extend .dark-gray-bg;
        @extend .padding;
        text-align: center;
        .nav {
            li {
                + li {
                    border-top: 1px solid $light-gray;
                }
                padding: 8px 0px;
                a {
                    color: $white;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
    }
    &-main{
        
    }
}
