*:focus {
    outline: 0 !important;
}

.hide {
    display: none;
}

.padding-half {
    padding: ($padding / 2);
}

.padding {
    padding: $padding;
}

.padding-x2 {
    padding: $padding * 2;
}

.text-center {
    text-align: center;
}

.margin {
    margin: $margin;
}

.top-margin {
    margin-top: $margin;
}

.m-left {
    margin-left: 50px;
}

.b-margin {
    margin-bottom: $grid-gutter-width;
}

.no-label {
    margin-top: 28px;
    font-size: 1.1rem;
}

.mt {
    margin-top: $grid-gutter-width;
}

.mr {
    margin-right: $grid-gutter-width;
}

.mb {
    margin-bottom: $grid-gutter-width;
}

.ml {
    margin-left: $grid-gutter-width;
}

.fa-ml {
    margin-left: 5px;
}

.fa-mr {
    margin-right: 5px;
}

.border-0 {
    border: 0px;
}

.border-1 {
    border: 1px solid #000;
}

.border-1-w {
    border: 1px solid $white;
}

.width-60 {
    width: 60%;
}

.w-h-100 {
    width: 100%;
    height: 100%;
}

.font-size-10 {
    font-size: 10px;
}

.game-label {
    bottom: 0;
    right: 0;
}

label {
    color: #FFF;
}

.c-select {
    display: block;
}

.table-scroll {
    overflow-y: scroll;
}

.inside-shadow {
    box-shadow: inset 0px 0px 20px $black;
}


/**
 * .active is a very common class used by a lot of comonents
 * do not set styling globally
 */

// ul {
//  li {
//      a {
//          color: white;
//      }
//      .active {
//          color: $yellow;
//      }
//  }
// }
.center-list {
    display: table;
    margin: 0px auto;
}

//------ Float ------
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

//------ Float ------
//------ Font ------
.lighter {
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

.center-text {
    text-align: center;
}

.l-text {
    text-align: left;
}

.r-text {
    text-align: right;
}

.f-large {
    font-size: $font-size-lg;
}

//------ Font ------
//------ Border ------
.border {
    border: 1px solid $brand-primary;
    margin-bottom: 50px;
    padding: 15px
}

.border-rad {
    border-radius: $border-radius;
}

//------ Border ------
//------ Flexbox ------
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

//------ Flexbox ------
//------ Swiper ------
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    position: absolute;
    font-weight: 900;
    right: 250px;
}

//------ Swiper ------
//------ Cards ------
.visa {
    background: url('../img/payment/visa.png');
}

.skrill {
    background: url('../img/payment/skrill.png');
}

.maestro {
    background: url('../img/payment/maestro.png');
}

.master-card {
    background: url('../img/payment/masater-card.png');
}

.neteller {
    background: url('../img/payment/neteller.png');
}

.expiery {
    text-align: center;
}

//------ Cards ------
//------ Close ------
.close {
    border-right: 0px;
    display: block;
    margin: 0px auto;
}

.close-icon {
    top: 15px;
    right: 15px;
    position: fixed;
}

//------ Close ------
//------Title------
.title {
    margin-bottom: 30px;
    padding-left: 0px;
    li {
        list-style-type: none;
        border-right: 1px solid $light-gray;
        padding: 10px;
        display: inline-block;
        font-size: 16px;
        p {
            font-size: 11px;
        }
    }
}

.main-title {
    list-style-type: none;
    li {
        border-right: 0px;
    }
}

.title-lighter {
    font-weight: lighter;
    margin-bottom: 5px;
}

//------Title------
//------ Colors ------
.transparent {
    background: transparent;
}

.white {
    color: $white;
    &-bg {
        background: $white;
    }
}

.lightest-gray {
    color: $lightest-gray;
    &-bg {
        background: $lightest-gray;
    }
}

.lighter-gray {
    color: $lighter-gray;
    &-bg {
        background: $lighter-gray;
    }
}

.light-gray {
    color: $light-gray;
    &-bg {
        background: $light-gray;
    }
}

.blue {
    color: $blue;
    &-bg {
        background: $blue;
    }
}

.green {
    color: $green;
    &-bg {
        background: $green;
    }
}

.yellow {
    color: $brand-primary;
    &-bg {
        background: $brand-primary;
    }
}

.red {
    color: $red;
    &-bg {
        background: $red;
    }
}

.dark-red {
    color: $dark-red;
    &-bg {
        background: $dark-red;
    }
}

.darker-red {
    color: $darker-red;
    &-bg {
        background: $darker-red;
    }
}

.dark-gray {
    color: $dark-gray;
    &-bg {
        background: $dark-gray;
    }
}

.darker-gray {
    color: $darker-gray;
    &-bg {
        background: $darker-gray;
    }
}

.darkest-gray {
    color: $darkest-gray;
    &-bg {
        background: $darkest-gray;
    }
}

.black {
    color: $black;
    &-bg {
        background: $black;
    }
}

//------ Colors ------
//------ Sidebar ------
.main {
    margin-left: 0%;
}

.sidebar {
    display: none;
}

@media(min-width: 840px) {
    .sidebar {
        display: block;
        bottom: 0;
        top: 0;
        position: fixed;
        border: 15px solid #3d3d3d;
        img {
            display: block;
            margin: 0px auto;
            padding: 10px 0;
        }
    }
    .main {
        margin-left: 25%;
    }
    .sidebar-img {
        display: block;
        bottom: 0;
        top: 0;
        position: fixed;
        img {
            display: block;
            margin: 0px auto;
        }
    }
    .main {
        margin-left: 25%;
    }
}

.nav-sidebar {
    text-align: center;
    li {
        + li {
            border-top: 1px solid $light-gray;
        }
        padding: 8px 0px;
        a {
            color: $white;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

.signup-img {
    width: 100%;
}

//------ Sidebar ------
//------ Table ------
.thead {
    background: #262626;
    color: #f5f5f5;
    border-top: 2px solid #262626;
}

.header-two {
    background: $lightest-gray;
    color: $white;
    border-top: 3px solid $lightest-gray;
}

.table-foot {
    background: $lightest-gray;
    font-weight: bolder;
    color: $black;
}

.table-inverse td {
    border-color: transparent;
}

.light-row {
    background: $red;
}

.dark-row {
    background: $dark-red;
}

.tab-active {
    color: $white;
    background: $red;
}

//------ Tables ------
//------ Buttons ------
.btn {
    text-transform: uppercase;
}

.btn-secondary {
    @include button-hover-variant($yellow,
    black,
    black);
}

.btn-primary-outline {
    color: $white;
    border-color: #fff;
    background: transparent;
    &:hover {
        color: $black;
    }
}

.amount-btn {
    width: 100%;
}

.b-middle {
    display: block;
    margin: 20px auto;
}

.btn-danger {
    @include button-variant($btn-danger-color,
    $btn-danger-bg,
    $btn-danger-border);
}

//------ Buttons ------
//------ Bootstrap-Cards ------
.btn-card {
    width: 100%;
}

.card {
    border: 0px;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    flex: 1;
}

.card-img-bottom {
    padding: 30px;
    padding-top: 0px;
    flex: 1;
    margin: 0px auto;
}

.card-block2 {
    text-align: center;
    background: $white;
    h4 {
        color: $gray;
    }
}

.card-header {
    background: $black;
    border: 0px;
    text-align: center;
    font-size: 1.2rem;
    margin: 0px;
}

.card-button {
    margin-bottom: 5px;
    border-radius: 80px;
    margin: 10px 20px;
    padding: 8px;
    width: 28px;
}

//------ Bootstrap-Cards ------
//------ Form Inputs ------
.date {
    line-height: 1.5rem;
}

.c-select {
    width: 100%;
    border-radius: $border-radius;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    border: 3px solid $white;
    display: inline-block;
    content: "\00a0";
    border-radius: 10px;
    height: 16px;
    margin: 3px 10px 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    font: 10px sans-serif;
}

input[type="checkbox"]:checked + label:before {
    background: $brand-primary;
    color: $black;
    content: "\2714";
    text-align: center;
    border: 2px solid $dark-yellow;
}

input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label:before {
    border: 3px solid $white;
    display: inline-block;
    content: "\00a0";
    border-radius: 10px;
    height: 16px;
    margin: 3px 10px 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    font: 10px sans-serif;
}

input[type="radio"]:checked + label:before {
    background: $brand-primary;
    color: $black;
    content: "\2714";
    text-align: center;
    border: 2px solid $dark-yellow;
}

input[type="radio"]:checked + label:after {
    font-weight: bold;
}

.radio-btn-2 {
    margin-left: 40px;
}

//------ Form Inputs ------
//------ Date Picker ------
.datepicker {
    background: #3c3c3c;
    color: #AAAAAA;
    &:before {
        color: #3c3c3c;
    }
    div {
        background: $light-gray;
        table {
            background: $light-gray;
            color: $white;
        }
    }
}

//------ Date Picker ------
//------ Landing Page Content ------
.shadow {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
}

.left-menu {
    list-style-type: none;
    li {
        a {
            display: block;
        }
        &:hover {
            background: $darker-gray;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    .active {
        background: $yellow;
        a {
            color: $black;
        }
    }
}

.winners-list {
    list-style-type: none;
    li {
        padding: 10px;
        font-size: 18px;
    }
}

//------ Landing Page Content ------
//------ Big Slide ------
.panel {
    position: fixed;
    left: -15.625em;
    width: 15.625em;
    overflow-y: scroll;
}

.wrap {
    position: relative;
}

.mob-nav {
    ul {
        li {
            border-bottom: 1px solid $red;
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 5px;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

//------ Big Slide ------
//------ Headers ------
.desktop-header {
    display: block;
    @media(max-width: 840px) {
        display: none;
    }
}

.mobile-header {
    display: none;
    @media(max-width: 840px) {
        display: block;
    }
}

//------ Headers ------

/**
 * Select 2
 */

.select2-results__option {
    color: $input-color;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: $red;
    color: #FFF
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: $input-line-height;
}

.select2-container .select2-selection--single {
    height: auto;
    @extend .form-control;
}

//------ Tabs ------
.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-item {
    //width: 50%;
    //width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.nav-tabs .nav-link {
    &:hover {
        border-bottom: 0px;
    }
}

//------ Tabs ------
