footer{
	background:$brand-success;
	color:white;
	padding:$spacer;
}

.card-padding {
    padding: 10px;
	min-height: 35px;
	min-width: 70px;
	max-height: 35px;
	max-width: 70px;
}

.card-sm-padding {
    padding: 5px 12px;
	min-height: 35px;
	min-width: 70px;
	max-height: 35px;
	max-width: 70px;
}

.r-border {
	border-right: 1px solid $gray;
}
.l-border {
	border-left: 1px solid $gray;
}