.games {
    &-grid {
        max-width: 900px;
        margin: $grid-gutter-width auto;
        > .row {
            @include grid-row-gutter(30px, 30px);
            > div[class^="col-"] {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        &-switcher{
        	display: inline-block;
        	position:absolute;
        	right:$grid-gutter-width;
        	top:$grid-gutter-width + $grid-gutter-width/2;
        	.btn{
        		border-radius: 0;
        		margin-bottom:1px;
        	}
        }
        &-l3 {
            .col-xs-8 {
                width: 68.3%;
            }
            .col-xs-4 {
                width: 31.7%;
            }
        }
    }
}

.game-container {
    &-head {
        display: flex;
        justify-content: space-between;
        padding: $btn-padding-y-sm $btn-padding-x-sm;
        background: black;
    }
    &-body {
        padding-top: 80%;
        background: $red;
        height: 0;
        position: relative;
        iframe, > div {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            overflow: hidden!important;
        }
    }
    &-selector{
    	@extend .text-center;
    	text-transform: uppercase;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	padding:$grid-gutter-width;
    	> div:first-child{
    		max-width: 550px;
    		margin:0 auto;
    	}
    	h5{
    		margin:15px 0;
    	}
    }
}
