.game {
	@extend .shadow;
    &-browser {
        > .row{
        	@include grid-row-gutter(0);
        }
        &-sidenav {
        	margin-top: $grid-gutter-width/2;
        	.nav-item + .nav-item {
        		border-top:1px solid rgba(0,0,0,0.2);
        	}
			.nav-link{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				&:hover{
					color:  $nav-pills-active-link-bg;
					background-color: rgba(0,0,0,0.3);
				}
			}
        }
        &-main{
        	@extend .shadow;
        	background: $dark-gray;
        }
        &-grid {
        	padding: 15px 20px;
			> .row{
	        	@include grid-row-gutter(15px, 15px);
	        }
        }
        &-search {
            background: #000;
            .form-control {
                background: transparent;
                border: transparent;
            }
        }
    }
    &-tile {
        &-img {
            img{
            	@extend .img-fluid;

            }

            .exclusive {
                top: 51px;
                left: 103px;
                background: url(../img/games/exclusive.png);
                width: 34%;
                height: 43%;
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
            }

            .device {
                position: absolute;
                top: 78px;
                left: 13px;
            }

            @media (max-width: 1199px) {
                .exclusive {
                    top: 38px;
                    left: 79px;
                    background: url(../img/games/exclusive.png);
                    width: 36%;
                    height: 37%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                }

                .device {
                    position: absolute;
                    top: 59px;
                    left: 11px;
                }
            }

            @media (max-width: 991px) {
                .exclusive {
                    top: 35px;
                    left: 76px;
                    background: url(../img/games/exclusive.png);
                    width: 38%;
                    height: 47%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                }

                .device {
                    position: absolute;
                    top: 57px;
                    left: 13px;
                }
            }

            @media (max-width: 767px) {
                .exclusive {
                    top: 38px;
                    left: 75px;
                    background: url(../img/games/exclusive.png);
                    width: 35%;
                    height: 50%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                }

                .device {
                    position: absolute;
                    top: 57px;
                    left: 11px;
                }
            }

            @media (max-width: 543px) {
                .exclusive {
                    top:30%;
                    left: 59%;
                    background: url(../img/games/exclusive.png);
                    width: 35%;
                    height: 50%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                }

                .device {
                    position: absolute;
                    top: 42%;
                    left: 10%;
                }
            }
        }
        &-details{
        	h5{
        		font-weight: 200;
        		text-transform: uppercase;
        		font-size: $font-size-sm;
                margin:0;
                padding-top:5px;
        	}
        }
        &-buttons {
            transition: 0.3s;
            display: none;
            top: -100px;

            .btn-primary-outline {
                font-size: 10.5px;
            }
        }
        &:hover {
            opacity: 0.6;
            transition: 0.3s;

            .game-tile-buttons {
                display: inline;
                position: absolute;
                top: 30px;
                left: 30px;
                transition: 0.3s;
                width: 100%;
            }

            @media (max-width: 1199px) {
                .game-tile-buttons {
                    display: inline;
                    position: absolute;
                    top: 17px;
                    left: 17px;
                    transition: 0.3s;
                    width: 100%;
                }
                .btn-primary {
                    font-size: 12px;
                }
                .btn-primary-outline {
                    font-size: 9px;
                }
            }

            @media (max-width: 991px) {
                .game-tile-buttons {
                    display: inline;
                    position: absolute;
                    top: 17px;
                    left: 20px;
                    transition: 0.3s;
                    width: 100%;
                }
                .btn-primary {

                }
                .btn-primary-outline {
                    font-size: 9px;
                }
            }

            @media (max-width: 840px) {
            }

            @media (max-width: 767px) {
                .game-tile-buttons {
                    display: inline;
                    position: absolute;
                    top: 20px;
                    left: 22px;
                    transition: 0.3s;
                    width: 100%;
                }
                .btn-primary {

                }
                .btn-primary-outline {
                    font-size: 9px;
                }
            }

            @media (max-width: 543px) {
                .game-tile-buttons {
                    display: inline;
                    position: absolute;
                    top: 20%;
                    left: 20%;
                    transition: 0.3s;
                    width: 100%;
                }
                .btn-primary {

                }
                .btn-primary-outline {
                    font-size: 9px;
                }
            }
        }
    }
}
