$modal-close-size: 40px;
$modal-max-width: map-get($grid-breakpoints, xl);
.mfp-iframe-holder .mfp-content,
.modal {
    background: $gray;
    padding: $grid-gutter-width;
    position: relative;
    margin: $grid-gutter-width;
    min-height: 650px;
    min-height: 80vh;
    @include media-breakpoint-up(xl) {
        max-width: $modal-max-width;
        margin: $grid-gutter-width auto;
    }
}

.modal-close {
    position: relative;
    display: inline-block;
    width: $modal-close-size;
    height: $modal-close-size;
    overflow: hidden;
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #FFF;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close,
.mfp-close {
    width: $modal-close-size;
    height: $modal-close-size;
    line-height: $modal-close-size;
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    text-align: center;
    opacity: $mfp-controls-opacity;
    color: $mfp-controls-color;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    &:focus {
        outline: 0 !important;
    }
    &:hover,
    &:focus {
        opacity: 1;
    }
    &:active {
        top: 10px;
    }
}

.mfp-iframe-scaler iframe {
    background: $gray;
    padding: $grid-gutter-width;
}
