<h1 class="title">Cards</h1>
<div class="container-fluid border">
	<div class="col-md-4" data-mh="card"> 
		<div class="card light-gray-bg">
			<img class="card-img-top" src="img/tmp/img.png" alt="Card image cap">
			<div class="card-block">
				<a href="#" class="btn btn-primary btn-card">Go somewhere</a>
			</div>
		</div>
	</div>

	<div class="col-md-6" data-mh="card">
		<div class="padding light-gray-bg">
			<div class="card light-gray-bg">
				<h3 class="card-header white">YOUR CURRENT LOYALTY PALACES POINTS</h3>
				<div class="card-block card-block2">
					<h4>123LP</h4>
				</div>
			</div>
			<a href="#" class="btn btn-primary btn-card">Go somewhere</a>
		</div>
	</div>
</div>