<div class="darkest-gray-bg">
	<div class="container">
		<div class="row padding">
			<div class="col-md-6 left">
				<h5 class="text-uppercase m-b-1">Get Social With Us</h5>
				<img src="img/icons/facebook.png" class="m-b-1 m-r-2" width="30" alt="">
				<img src="img/icons/googleplus.png" class="m-b-1 m-r-2" width="30" alt="">
				<img src="img/icons/twitter.png" class="m-b-1 m-r-2" width="30" alt="">
				<p class="lighter m-b-0">You must be 18 years or older to play on ThePalaces.com</p>
				<p class="lighter m-b-0">Copyright &copy; 2016 The Palaces. All rights reserved.</p>
				<p class="lighter m-b-0">thepalaces.com is licensed and regulated by the UK Gambling Commission. License Number 000441</p>
			</div>
			<div class="col-md-6 right">
				<div class="m-b-1">
					<img src="img/payment/visa-2.png" width="70" class="white-bg card-padding border-rad" alt="">
					<img src="img/payment/maestro-2.png" width="48" class="white-bg card-padding border-rad" alt="">
					<img src="img/payment/master-card-2.png" width="50" class="white-bg card-padding border-rad" alt="">
					<img src="img/payment/neteller-2.png" width="100" class="white-bg card-padding border-rad" alt="">
					<img src="img/payment/skrill-2.png" width="70" class="white-bg card-padding border-rad" alt="">
				</div>
				<div>
					<img src="img/over18_X2.png" alt="" width="50" class="m-r-1">
					<img src="img/gamcare_X2.png" alt="" width="50" class="m-r-1">
					<img src="img/gambleawareuk_X2.png" alt="" width="200" class="">
				</div>
			</div>
		</div>
	</div>
</div>