<div class="darker-gray-bg">
    <div class="container padding">
        <ul class="nav navbar-nav text-uppercase center-list">
            <li class="nav-item m-r-1">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item m-r-1">
                <a class="nav-link" href="#">Promotions</a>
            </li>
            <li class="nav-item m-r-1">
                <a class="nav-link" href="#">Terms & Conditions</a>
            </li>
            <li class="nav-item m-r-1">
                <a class="nav-link" href="#">Affiliates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Responsible Gaming</a>
            </li>
        </ul>
    </div>
</div>