<div class="dark-gray-bg">
    <div class="container">
        <div class="row padding-half">
            <div class="col-md-6 left">
                <ul class="nav navbar-nav text-uppercase">
                    <li class="nav-item l-border r-border padding">
                        <a class="nav-link" href="#">Favourites</a>
                    </li>
                    <li class="nav-item r-border padding">
                        <a class="nav-link" href="#">Last Played</a>
                    </li>
                    <li class="nav-item m-l-0 r-border padding">
                        <a class="nav-link" href="#">Hot Games</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 right">
                <ul class="nav navbar-nav text-uppercase">
                    <li class="nav-item l-border r-border padding">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item r-border padding">
                        <a class="nav-link" href="#">Chat Now</a>
                    </li>
                    <li class="nav-item r-border padding">
                        <a class="nav-link" href="#">EN</a>
                    </li>
                    <li class="nav-item r-border padding">
                        <a class="nav-link" href="#">10:10</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>