<div class="game-container">
	<div class="game-container-head">
		<button class="btn btn-sm btn-link"><i class="fa fa-mr fa-plus-square"></i> Add to favourites</button>
		<button class="btn btn-sm btn-link"><i class="fa fa-close"></i></button>
	</div>
	<div class="game-container-body">
	
	</div>	
</div>
