<div class="game-tile">
	<div class="game-tile-img">
		<img src="img/games/GonzosQuest.png">
		<span class="exclusive"></span>
		<span class="device">
			<i class="fa fa-mobile-phone fa-2x"></i>
		</span>

		<span class="game-tile-buttons">
			<button type="button" class="btn btn-primary">Play Now</button>
			<button type="button" class="btn btn-primary-outline">Play For Fun</button>
		</span>
	</div>
	<div class="game-tile-details">
		<h5 class="left">Gonzo's Quest</h5>
		<span class="right">
			<a href="#"><i class="fa fa-info-circle"></i></a>
			<a href="#"><i class="fa fa-star-o"></i></a>
		</span>

		<div class="clearfix"></div>
	</div>
</div>