<div class="mobile-header">
    <div class="container">
        <nav class="navbar">
            <ul class="nav navbar-nav text-uppercase">
                <li class="nav-item">
                    <a href="#menu" class="menu-link padding-half f-large right">&#9776;</a>
                </li>
            </ul>
            <form class="form-inline pull-xs-right" action="#">
                <button type="button" class="btn btn-primary">SignUp</button>
                <button type="button" class="btn btn-primary-outline">Login</button>
            </form>
        </nav>
    </div>
</div>