<div class="desktop-header desktop-header-sm light-gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="img/LogoX2.png" class="left m-r-1 pos-absolute z-index-2" width="125" alt="">
				<nav class="navbar m-left-nav">
					<ul class="nav navbar-nav text-uppercase">
						<li class="nav-item active">
							<a class="nav-link active" href="#">Casino</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Live Casino</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Bingo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Sports</a>
						</li>
					</ul>
					<form class="form-inline pull-xs-right" action="#">
						<button type="button" class="btn btn-primary">SignUp</button>
						<button type="button" class="btn btn-primary-outline">Login</button>
					</form>
				</nav>
			</div>
		</div>
	</div>
</div>