<div class="desktop-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="img/LogoX2.png" class="left m-r-1 pos-absolute z-index-2" width="250" alt="">
				<nav class="navbar m-left-nav">
					<ul class="nav navbar-nav text-uppercase">
						<li class="nav-item active">
							<a class="nav-link active" href="#">Casino</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Live Casino</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Bingo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Sports</a>
						</li>
					</ul>
					<form class="form-inline pull-xs-right" action="#">
						<button type="button" class="btn btn-primary">SignUp</button>
						<button type="button" class="btn btn-primary-outline">Login</button>
					</form>
				</nav>
			</div>
		</div>
	</div>
	<div class="red-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<nav class="navbar m-left-nav">
						<ul class="nav navbar-nav text-uppercase">
							<li class="nav-item">
								<a class="nav-link" href="#">Promotions</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Payments</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Bonus Calendar</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Blog</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>