<nav id="menu" class="panel darker-red-bg mob-nav" role="navigation">
    <div class="dark-red-bg">
        <img src="img/LogoX2.png" width="200" alt="">
        <ul class="padding text-uppercase">
            <li><a href="#">Home</a></li>
            <li><a href="#">Casino</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Featured Games</a></li>
            <li><a href="#">Top 16</a></li>
            <li><a href="#">Hot Slots</a></li>
            <li><a href="#">Card Slots</a></li>
            <li><a href="#">Video Slots</a></li>
            <li><a href="#">BlackJack</a></li>
            <li><a href="#">Roulette</a></li>
            <li><a href="#">Table Games</a></li>
            <li><a href="#">Video Poker</a></li>
            <li><a href="#">Jackpot</a></li>
            <li><a href="#">Other Games</a></li>
            <li><a href="#">Favourite Games</a></li>
            <li><a href="#">All Games</a></li>
        </ul>
    </div>
    <div class="darker-red-bg">
        <ul class="padding text-uppercase">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Responsible Gaming</a></li>
        </ul>
    </div>
</nav>