<div class="col-sm-3 col-md-3 sidebar dark-gray-bg padding">
  <img src="img/Profile sample.png" width="110" alt="">
  <ul class="nav nav-sidebar">
    <li><a href="myaccount-editprofile.html">Edit Profile</a></li>
    <li><a href="myaccount-deposits1.html">Deposit</a></li>
    <li><a href="myaccount-withdraw.html">Withdraw</a></li>
    <li><a href="myaccount-mybonuses.html">My Bonuses</a></li>
    <li><a href="myaccount-loyalty.html">Loyal Palaces Shop</a></li>
    <li><a href="myaccount-referfriend.html">Refer A Friend</a></li>
    <li><a href="myaccount-paymenthistory.html">Payment History</a></li>
    <li><a href="myaccount-playhistory.html">Play History</a></li>
  </ul>
</div>