<div class="modal">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 account-sidebar">
				<img src="img/Profile sample.png" width="110" alt="">
				<ul class="nav">
					<li><a href="myaccount-editprofile.html">Edit Profile</a></li>
					<li><a href="myaccount-deposits1.html">Deposit</a></li>
					<li><a href="myaccount-withdraw.html">Withdraw</a></li>
					<li><a href="myaccount-mybonuses.html">My Bonuses</a></li>
					<li><a href="myaccount-loyalty.html">Loyal Palaces Shop</a></li>
					<li><a href="myaccount-referfriend.html">Refer A Friend</a></li>
					<li><a href="myaccount-paymenthistory.html">Payment History</a></li>
					<li><a href="myaccount-playhistory.html">Play History</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<h4><span class="title-lighter">WELCOME</span> PLAYER NAME</h4>
				<p class="lighter">Last Login: Thu//31 Mar 2018//22:20</p>
				<div class="row top-margin">
					<div class="col-md-6">
						<fieldset class="form-group" data-mh="input">
							<label for="balance">YOUR BALANCE</label>
							<input type="text" class="form-control" id="balance">
						</fieldset>
					</div>
					<div class="col-md-6">
						<fieldset class="form-group" data-mh="input">
							<label for="bonus">BONUS</label>
							<input type="text" class="form-control" id="bonus">
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<fieldset class="form-group" data-mh="input">
							<label for="cash">CASH</label>
							<input type="text" class="form-control" id="cash">
						</fieldset>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-primary-outline btn-lg no-label left">Deposit</button>
						<button type="button" class="btn btn-primary-outline btn-lg no-label right">Withdraw</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<fieldset class="form-group" data-mh="input">
							<label for="points">LOYAL PALACES POINTS</label>
							<input type="text" class="form-control" id="points">
						</fieldset>
					</div>
					<div class="col-md-6">
						<fieldset class="form-group clear" data-mh="input">
							<label for="level">LOYALTY LEVEL: BRONZE</label>
							<input type="text" class="form-control" id="level">
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
